<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #222831;
        }

        header {
            background-color: #222831;
            color: white;
            margin-top: 11rem;
        }

        main {
            
            align-items: center;
            padding: 1rem;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #00ADB5;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px;
        }

        .button:hover {
            background-color: #00f2ff;
        }
    </style>
</head>
<body>
    <header>
        <h1>CryptoVerse!</h1>
    </header>
    <main>
        <a class="button" href="/login">Login</a>
        <a class="button" href="/signup">Signup</a>
    </main>
</body>
</html>
